<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="connection.url"/>-->
    <!--<property name="connection.driver_class"/>-->
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed jdbc:postgresql://localhost:5432/javastudy-->
    <!-- <property name="hbm2ddl.auto">update</property> -->




    <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
    <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->

    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/pstg</property>

    <property name="connection.driver_class">org.postgresql.Driver</property>

    <property name="connection.username">postgres</property>
    <property name="connection.password">root</property>

    <!-- NOTE that after automapping with IDEA property username and password will delete -->
    <mapping class="ru.hiber.hibernate.dao.ContactEntity"/>
    <mapping class="ru.hiber.hibernate.dao.Contact2Entity"/>
    <mapping class="ru.hiber.hibernate.dao.ContactHobbyDetailEntity"/>
    <mapping class="ru.hiber.hibernate.dao.ContactTelDetailEntity"/>
    <mapping class="ru.hiber.hibernate.dao.HobbyEntity"/>
    <!--<mapping resource="ru/hiber/hibernate/dao/ContactEntity.hbm.xml"/>-->
    <!--<mapping resource="ru/hiber/hibernate/dao/ContactHobbyDetailEntity.hbm.xml"/>-->
    <!--<mapping resource="ru/hiber/hibernate/dao/ContactTelDetailEntity.hbm.xml"/>-->
    <!--<mapping resource="ru/hiber/hibernate/dao/HobbyEntity.hbm.xml"/>-->
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->

  </session-factory>
</hibernate-configuration>